* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
::-webkit-scrollbar{
  width: 15px;
}


::-webkit-scrollbar-thumb{
  background:linear-gradient(10deg, #00ccff, #00ccff)
}
*/

@media screen and (max-width: 860px) {
  ::-webkit-scrollbar{
    width: 0px;
  }
  }
  /* tausta väri, ja default fontti (Body)*/
  body {
    font-family: sans-serif;
    background-color: #435055;
    
  }
  
  .news1 {
   text-align: center;
   color: white;
   margin-top: -600px;
   height: 200px;
   text-align: center;
  }
  .news2 {
   text-align: center;
   color: white;
   margin-top: -800px;
   height: 200px;
   text-align: center;
  }
  
.news3{
  text-align: center;
  color: red;
  margin-top: -600px;
  height: 200px;
  text-align: center;
}


  /* Privacy Policyn Pää teksti (PrivacyPolicy) */
  .privacyHead{
    color: white;
    text-align: center;
    font-size: 5vh;
  }

    /* "For Better Games Runko Teksti (About)*/
  .motto{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  
 
  /* En tiedä mikä tämä on :D*/
  .MaStudios{
    color: white;
    text-align: center;
    left: 10px;
    font-size: 2.2rem;
  }

    /* Pc Fame Studios teksti (About)*/
  .yes{
    color: white;
    font-size: 2rem;
    text-align: center;
    position: block;
    top: 100px;
    left: 825px;
    margin-right: 132px;
  }

    /* Kuinka nopeasti tekti 'Ma Game Studios' liikuu siniseksi (About)*/
  span{
    transition: all 0.3s ease;
  }
  /* Mikä on Pc Game Studioksen teksti (About)*/
  span.fade{
    color: #29A19C;
  }

  .h1game{
      color: red;
  }

  .pcgamestudiosinfo{
    color: white;
    text-align: center;
    margin-top: -37rem;
    font-size: 2.4rem;
  }

    /*Pc Game Studioksen logon koko (Body/Footer/Alapalkki*/
  .logo{
    height: 7.6vh;
    margin-top: 5px;
    margin-right: 15vh;
   } 
   
   /*Ei Enään käytössä*/
  .copyright {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  /*Ylä Palkki (body/kaikki)*/
  nav {
    height: 5vh;
    background: #27323A;
  }

  .info{
    background-color: red;
    color: red;
  }

  .InfoText{
    text-align: center;
    font-size: 20px;
    outline: none;
  }

  .link1 {
    align-content: center;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 1.25rem;
    outline: none;
    list-style: none;
  }
  a{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: unset;
    outline: none;
  }


  .pcgametext{
    color: white;
    text-align: center;
    margin-top: -30rem;
    font-size: 1.5rem;
  }
  .top{
    background-color: #29A19C;
    font-family: poppins;
    color:  #27323A;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    outline: none;
  }
  .top a{
    color:  #000;
  }

  /*Ylä Palkkin Teksti linkit (body/kaikki) Loput on samaa ylä palkkia*/
  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: rgb(202, 199, 199);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: white;
  }


    
  .nav-links a::after{
    content: '';
    height: 3px;
    width: 0px;
    background: #29A19C;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 1s;
}
.nav-links a:hover::after{
 width: 100%;
}
.nav-links a {
 position: relative;
}
    
  
  @media screen and (max-width: 860px) {
 
    .line {
      width: 30px;
      height: 3px;
      background: rgb(202, 199, 199);
      margin: 5px;
      
    }
    nav {
      position: relative;
    }
    
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 35%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #121212;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: (100px at 90% -10%);
      -webkit-clip-path: circle(10px at 90% -10%);
      transition: all 0s ease-out;
      pointer-events: none;
      transition: all 2s ease-in;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(15000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 1s ease 0s;
    }
    .nav-links li:nth-child(2) {
      transition: all 1s ease 0s;
    }
    .nav-links li:nth-child(3) {
      transition: all 1s ease 0s;
    }
    .nav-links li:nth-child(4) {
      transition: all 1s ease 0s;
    }
    .nav-links li:nth-child(5) {
      transition: all 1s ease 0s;
    }
    li.fade {
      opacity: 0.95;
    }
  
      
    }
    .main-body{
      color: #29A19C ;
      margin-top: -1150px;
      font-size: 2rem;
      font-weight: 500;
     justify-content: center;
      display: flex;
    position: none;
     
  }
    /*tästä eteenpäin ala bodya missä on uutiset*/
     
    
    .main-bodyy{
      margin: top -700px; ;

      
    } 


    @media screen and (max-width: 520px) {
   .top li a{
    font-size: 1.2rem;
  }}

  







