* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* tausta väri, ja default fontti (Body)*/
  body {
    font-family: sans-serif;
    background-color: #0b0b0b;
  }

  /* Privacy Policyn Pää teksti (PrivacyPolicy) */
  .privacyHead{
    color: white;
    text-align: center;
    font-size: 5vh;
  }

    /* "For Better Games Runko Teksti (About)*/
  .motto{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  
 
  /* En tiedä mikä tämä on :D*/
  .MaStudios{
    color: white;
    text-align: center;
    left: 10px;
    font-size: 2.2rem;
  }

    /* Pc Fame Studios teksti (About)*/
  .yes{
    color: white;
    font-size: 2rem;
    text-align: center;
    position: block;
    top: 100px;
    left: 825px;
    margin-right: 132px;
  }

    /* Kuinka nopeasti tekti 'Ma Game Studios' liikuu siniseksi (About)*/
  span{
    transition: all 0.3s ease;
  }
  /* Mikä on Pc Game Studioksen teksti (About)*/
  span.fade{
    color: rgb(0, 89, 255);
  }

  .h1game{
      color: red;
  }

  .pcgamestudiosinfo{
    color: white;
    text-align: center;
    margin-top: -37rem;
    font-size: 2.4rem;
  }

    /*Pc Game Studioksen logon koko (Body/Footer/Alapalkki*/
  .logo{
    height: 7.6vh;
    margin-top: 5px;
    margin-right: 15vh;
   } 
   
   /*Ei Enään käytössä*/
  .copyright {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  /*Ylä Palkki (body/kaikki)*/
  nav {
    height: 5vh;
    background: #141414;
  }

  .info{
    background-color: red;
    color: red;
  }

  .InfoText{
    text-align: center;
    font-size: 20px;
    outline: none;
  }

  .link1 {
    align-content: center;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 1.25rem;
    outline: none;
    list-style: none;
  }

  .link2 {
    align-content: center;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 1.25rem;
    outline: none;
    list-style: none;
    color: white;
    margin-top: -530px;
    margin-left: -715px;
  }
  .link3 {
    align-content: center;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 1.25rem;
    outline: none;
    list-style: none;
    color: white;
    margin-top: -400px;
    margin-left: -455px;
  }
  .link4 {
    align-content: center;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 1.25rem;
    outline: none;
    list-style: none;
    color: white;
    margin-top: 0px;
    margin-left:  -195px;
  }
  a{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: unset;
    outline: none;
  }


  .pcgametext{
    color: white;
    text-align: center;
    margin-top: -30rem;
    font-size: 1.5rem;
  }
  .top{
    background-color: rgb(255, 102, 0);
    font-family: poppins;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    outline: none;
  }

  /*Ylä Palkkin Teksti linkit (body/kaikki) Loput on samaa ylä palkkia*/
  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: white;
  }
  
  @media screen and (max-width: 764px) {
    .line {
      width: 30px;
      height: 3px;
      background: rgb(255, 255, 255);
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 30%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #121212;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: (100px at 90% -10%);
      -webkit-clip-path: circle(10px at 90% -10%);
      transition: all 0s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(15000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0s ease 0s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0s ease 0s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0s ease 0s;
    }
    li.fade {
      opacity: 0.95;
    }
}
